<!DOCTYPE html>
<html>
<head>
  <title>RolieServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:atom, { controller: 'service', action: 'svcdoc'}, { rel: 'introspection', type: 'application/atomsvc+xml', title: 'Atom Publishing Protocol Service Document' }) %>
</head>
<body>

<%= yield %>

</body>
</html>
